{% extends "base.html" %}

{% block content %}
    <h1>Здравствуйте, {{ vk_social_user.social_first_name }}!</h1>
    <form method="POST" class="new-poll-form form">
        {% csrf_token %}
        <label for="{{ form.presence.index }}">Вы придете на вечеринку?</label>
        <div {% if form.presence.errors %}class="error"{% endif %}>
        {{ form.presence }}
        </div>
        <label for="{{ form.drink.index }}">Выберете напиток, который бы вы предпочли:</label>
        <div {% if form.drink.errors %}class="error"{% endif %}>
        {{ form.drink }}
        </div>
        <button type="submit" class="submit">Отправить ответ</button>
    </form>
{% endblock %}