{% extends "base.html" %}

{% block content %}
    <h1>Здравствуйте, {{ social_user.social_first_name }}!</h1>
    <form method="POST" class="new-poll-form">
        {% csrf_token %}
        <label for="{{ form.presence.index }}">Вы придете на вечеринку?</label><br/>
        {{ form.presence }}<br/>
         <label for="{{ form.drink.index }}">Выберете напиток, который бы вы предпочли:</label><br/>
        {{ form.drink }}<br/>
        <button type="submit" class="save btn btn-default">Отправить ответ</button>
    </form>
{% endblock %}