{% extends "base.html" %}

{% block content %}
    <h1>Ответы</h1>
    {% for user in users %}
        {% for social_profile in user.usersocialprofile_set.all %}
            {% for poll in user.poll_set.all %}
                {% if social_profile.social_id and poll.presence and poll.drink %}
                    <img src="{{ social_profile.social_photo_url }}" />
                    <h3>{{ social_profile.social_first_name }} {{ social_profile.social_last_name }}</h3>
                    <br/>
                    <blockquote>{{ poll.get_presence_display }} на вечеринку.
                    {% if poll.presence == 't' %}
                        Предпочту пить <span class="lowercase">{{ poll.get_drink_display }}</span>.</blockquote>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}