* {
    margin: 0;
    padding: 0;
}

body {
    background: url("http://www.greethamvalley.co.uk/app/uploads/2013/05/wedding-party.png") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    font: 100%/1.5em "Myriad Pro", "PT Sans", Verdana, Arial, sans-serif;
}

.error input, .error select {
    border: 2px red solid;
}

.wrapper {
    background: #5a5a5a;
    margin: 100px auto;
    padding: 30px;
    width: 80%;
    opacity: 0.7;
    filter: alpha(Opacity=70);
    z-index: 100;
}

.content {
    z-index: 200;
    padding: 30px;
}

a {
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: #337ab7;
  }
a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Ð¢ÐµÐ½ÑŒ */
    background: #2e6da4;
   }