* {
    margin: 0;
    padding: 0;
}

body {
    background: url("http://www.greethamvalley.co.uk/app/uploads/2013/05/wedding-party.png") no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    font: 100%/1.5em "Myriad Pro", "PT Sans", Verdana, Arial, sans-serif;
    color: #fff;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

.error input, .error select {
    border: 2px red solid;
}

.wrapper {
    background: rgba(90, 90, 90, 0.6);
    margin: 100px auto;
    padding: 30px;
    width: 80%;
    border-radius: 5px;
}

.login-vk{
    margin: 100px auto;
}

a {
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: #337ab7;
  }
a:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Ð¢ÐµÐ½ÑŒ */
    background: #2e6da4;
   }

.submit {
	cursor: pointer;
	border: 1px solid #cecece;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: #337ab7;
	border-radius: 8px;
	width: 120px;
}
.submit:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Ð¢ÐµÐ½ÑŒ */
    background: #2e6da4;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}